apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: goodburger-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: goodburguer
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 30
